
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


@font-face {
    font-family: 'Satoshi';
    src: url('https://drive.google.com/uc?export=view&id=1bdkQMhGCzbjaTBwXFsqbenBLSisAktgV') format('woff2');
    font-weight: 100 900; /* Specify the supported weight range */
    font-style: normal; /* Set default style to normal. Variable fonts typically support italics through 'font-style' property */
    font-variation-settings: 'wght' 100, 'ital' 1; /* Variable font settings*/
}


  
body {
  font-family: 'Satoshi', sans-serif;
  color: #121212;
}

img {
  max-width: 100%;
}



.wrapper {
  padding: 96px 0;
}


.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 32px;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menuBar {
  display: none;
}

.menuBar div {
  background-color: #121212;
  height: 2px;
  width: 1.5rem;
  border-radius: 2px;
}


header {
  padding: 1.25rem 0 1rem 0;
  border-bottom: 1px solid hsl(0, 0%, 95%);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2000;
}



#navBar {
  display: flex;
  justify-content: space-between;
}



.icons, .navlinks {
  display: flex;
  column-gap: 1.5rem;
}

.icons {
  column-gap: 1rem;
}


.navlinks a {
  line-height: 160%;
  color: #121212;

}


.navlinks a:hover {
  line-height: 160%;
  color: #DC2F02;
}


.one {
  transform: rotate(45deg);
}

.two {
  transform: rotate(-45deg)
             translate(4px, -4px);
}

.three {
  display: none;
}


.stroke {
  transition: transform .3s ease-in;
}

.hero {
  padding-top: 5rem;
}

.hero-container > div {
  max-width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  background-image: url("./assets/heroImage.jpg");
  height: 480px;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  margin-top: 3.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}

p {
  line-height: 1.6;
  color: #616161;
}

button {
  font: normal 500 17px Satoshi;
  padding: .7rem 1rem;
  border: none;
  border-radius: .5rem;
  transition: all .3s ease;
}

#main-button {
  background-color: #DC2F02;
  color: whitesmoke;
  margin-right: 1rem;
}

#main-button:hover {
  background-color: #cf3812;
}

.sec-button {
  background-color: transparent;
  color: #DC2F02;
  border: 1px solid #DC2F02;
}

#sec-button:hover {
  background-color: #DC2F02;
  color: whitesmoke;
}

.hero p {
  margin: 1rem 0 2rem 0;
  max-width: 80%;
}

.marquee {
  background-color: #DC2F02;
  padding: 3rem 0;
  overflow: hidden;
}

.marquee > div {
  display: flex;
  justify-content: center;
  gap: 120px;
  animation: marquee 10s linear infinite;
}


@keyframes marquee {
  0% {
    transform: translateX(20%); /* Start off-screen */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}



@keyframes marquee-pad {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-160%);
  }
}

@keyframes marquee-mobile {
  0% {
    transform: translateX(5%)
  }

  100% {
    transform: translateX(-240%);
  }
}

.category {
  padding: 104px 0;
}

.header-content, .section-content {
  display: flex;
  gap: 120px;
}


.section-content {
  position: relative;
}

.header-content div, .header-content p, .section-content > div {
  width: 50%;
}

.category img {
  height: 24px;
}

.room > :first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid hsl(0, 0%, 95%); 

}

.room > :first-child.last {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.header-content {
  margin-bottom: 4rem;
  align-items: flex-end;
}

.subheading {
  color: #DC2F02;
  line-height: 1.5;
  font-weight: 500;
  
}


h2 {
  margin-top: .5rem;
  font-size: 2.5rem;
  font-weight: 700;
}


.room > :last-child {
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1000;
  width: calc(50% - 60px);
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 1rem;
}

#placeholder-img {
  background-size: cover;
  background-position: center;
  background-image: url("https://www.figma.com/file/GKSF3KQir9S2QF0Z3FAuR8/image/d01dac3a0581fda857c8a31324abfc1b2a0d0e0d");
  z-index: 500;
  border-radius: 1rem;
}


.room-one {
  background-image: url("https://s3-alpha-sig.figma.com/img/ae9d/6b21/23be8c49ec2cc84ef1a5e109fe095c52?Expires=1702252800&Signature=nYug-Hm9Y58L~nae1KwmfvOibfK7oM9AKtKpzjBERM7BQoklSyDIayhy3knGSqQBVZ8-FLfUgV7TyiXG2ma1HlQddv79VEss68OKY-yBqMzNiSox0bCZtTv-p6GVb4u5jxuKjxnD~JVk-bYRr4ry8x2vHgvKE7KwGjb8A27gwt0a9moisPlgWGk5~1HR-B2yrHnr2HNTfQ3UB7Ybxm4C~jF8NU3VaMd1fwCuXKWFLRUYX9oQiIeLjp0uhO-pizmW3xRrczylHRq8C6W8Kl8XWkL5HG-AQHzhhNMq-3wt~9yROta0I6ZxoXFcx8138yyWjP9kTpMHs1c0zeBF6cQmkg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}


.room-two {
  background-image: url("https://s3-alpha-sig.figma.com/img/23ba/c6eb/315aea145051529a30f8eb94b007688c?Expires=1702252800&Signature=CTuVkbUTOSLZCLp5kMNaWj1nU-mMmU2VabJC7hI89wfrWqBNv7Tur0NdEankhoJoiP9U5bSUk5YTdt0rI9o~vPbM-44TpTjDhYc5yUMzyjkEvU32DD-X6FN1b2hS8yo8qbCpxonMQUT8edRpaCdeZQKP9WCwD5pcP4Mqkp7ZphH4gS6HmsWbDINPvPy68fnOiazGq2vXpx35zdnpuYXPesEcBTImeU4nOGJNfbvExzXY2XN7McMMPYVrts-B6NlxgR9O5clGFKLpNQUiBZOmcozVySQHcrPbvviEMJe6xrRQ5ToOkzxcTXpKqhGmn0SqN0tT~tyyCg~iSb8YlmQsEw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.room-three {
  background-image: url("https://s3-alpha-sig.figma.com/img/73ed/a989/ecbf29a1c9b87b12224f4c382376b2ce?Expires=1702252800&Signature=lm2FGm8ZZZYcaQveEX1sX8X~JtCk5Rihri4nqHblr-apIGtP9DohW3RgGAOgNv0~F4NnDGAt86t-fQphJV1t4-ROR~G0GNccPliBeX-6PE-j7D76OdMQrSf9EaSR78oKEPIZfNsS6HAmrmFfqunvwxTqcjkZ8JLBIYJKqcLHgL7~7Dsce04aDYJR4QmucLE5eD-aJ~QV4Df6e~FTz9yWQleWccyhEt~69jZhufW93fR8aeoIzTn0ArjacMJayeEIezmBqGvx489Czjp8Kt47vxSNVjsLdIPNbS5TB8vXo~CbFGR36NP3bxh-sOdMH9NPmD6kC-AHAkvQNbZYyOQ00A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.room-four {
  background-image: url("https://s3-alpha-sig.figma.com/img/2c63/8355/20d9183a0174cbfe3d683104a60b8674?Expires=1702252800&Signature=NLnqxSip0LT--qOgccA~SAVftYlp0sdHw1aXqqR1Ds4NlyogJmrOVCnCzkSQCqwKt8MyshGYyJC38PqTvxbg~MIQ4oOFwWwzLBLaqdlWOZPFdMUc11ZEown3N52QI7eaHW3qvCz5cnrZPsqs88ZQmdhDWMXtRlAxtd64zJFlb5ogdNI93kvZwMGLTpSw7xk3vmaWmg1WQPYxzBdVFhhi5xZgEpROL1wr91YMmwVlKmeEXG0KoLrQ9XqzgDtESWj7MFTrveUEBQiYz0A4VqhQErPUydQTSJzZRDX-0oPE91kLR3i6Mr-8AWMogQQhJWAptJ7ZOj95SGNrxVmnONCNtA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.room-five {
  background-image: url("https://s3-alpha-sig.figma.com/img/51c1/0967/935120a6e2f860694cd0900e28761c97?Expires=1702252800&Signature=ZIQ2S8wY-i-wHjF2l3poR7PExxllX2KbXSgRm7x2lHNpsTVzc-rHAa18hqsshVWlSmZz6SMc9k4Jb5-P1nQLniKCB8P1YrLIzFUN2IPlvh3hCcfecEKpYcVvwTPeAYUOm2jvqNEDaQ9h3NkB6lL9kfZ~ARxd-gACgSSklchuqzk6w5IJfHnLF-sDC1rxydi~1qBkgmTSzhmWCVYtaRor3Rtv1sM~bdrNQABeqKlyZIUHogOMUtMIE3zGdjxdGdMkDCmuHtsp~uTD8uS2pt-vUSCQVCOuRMgEns5bra4KPPZ4g6Bm6G7wW-ZCCMXmt7YrjNzimgzZp0PKVT2oAGOE~g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}



.room span {
  font-size: 1.5rem;
  color: #616161;
}

.room img, .room span, .room-image {
  transition: all .3s ease-in;
}


.featured {
  background: #FBFBFB;
  padding: 104px 0;
  overflow-x: hidden;
}



.featured .header-content {
  justify-content: space-between;
}

.featured .header-content > div {
  width: auto;
}

.control {
  border: 1px solid #DC2F02;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
}

.featured .header-content > :last-child, .product-wrapper {
  display: flex;
  gap: 1.5rem;
}




.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 3rem;
  column-gap: 1.5rem;
}




.product-card {
  background-color: white;
  padding: 1rem;
  flex: 0 0 320px;
  border-radius: .5rem;
}




.product-card > :first-child {
  background-color: #FBFBFB;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: .5rem;
}

h3, .product-card span {
  font-size: 1.25rem;
}

.product-card span {
  display: block;
  margin: .8rem 0 1.25rem;
}
 .product-button {
  padding: .4rem .5rem;
 }


/* Tablet CSS */
@media screen and (max-width: 991px) {
  .container {
    max-width: none;
    padding: 0 56px;
  }

  h1 {
    font-size: 3.25rem;
  }

  .hero-container > div {
    max-width: 90%;
  }

  .marquee > div {
    gap: 96px;
    animation: marquee-pad 10s linear infinite;
  }

  .header-content, .section-content {
    display: flex;
    gap: 48px;
  }

  .room > :last-child {
    width: calc(50% - 24px);
    border-radius: .5rem;
  }

  #placeholder-img {
    border-radius: .5rem;
  }


}



/* Mobile - Landcape CSS */
@media screen and (max-width: 767px) {
  .container {
    padding: 0 32px;
  }

  .menuBar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  }

  header {
    padding: 1.5rem 0;
    height: 72px;
    overflow: hidden;
    transition: height .3s ease;
  }

  .expand {
    height: 400px;
    transition: height .5s ease;
  }




  .topBar {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #navBar {
    flex-direction: column;
    position: relative;
  }



  .navlinks {
    flex-direction: column;
    gap: 1.5rem;
    margin: 4rem 0;
  }

  .hero {
    padding-top: 6rem;
  }


  h1 {
    font-size: 3rem;
  }

  .hero p {
    max-width: 100%;
  }


  .hero-container > div {
    max-width: 100%;
  }

  .marquee > div {
    display: flex;
    gap: 72px;
    animation: marquee-mobile 20s linear infinite;
  }

  .header-content, .section-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

 .section-content {
    gap: 4rem;
  }


  .header-content div, .header-content p, .section-content > div {
    width: 100%;
  }

  #placeholder-img {
    height: 20rem;
  }

  .room > :last-child {
    width: 70%;
    height: 12rem;
    top: 35%;
  }

}


/* Mobile - Portrait CSS */
@media screen and (max-width: 479px) {
  .container {
    padding: 0 20px;
  }

}

